resources:
  - resources.yaml

labels:
  - pairs:
      app.kubernetes.io/name: deb-mirror
      app.kubernetes.io/instance: deb-mirror
    includeSelectors: true

configMapGenerator:
  - name: deb-mirror-config
    files:
      - Caddyfile
    options:
      disableNameSuffixHash: true

images:
  - name: varnish
    newTag: 7.7.3
  - name: caddy
    newTag: 2.10.0
