resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 100m
    memory: 128Mi

envVars:
  - name: GOOGLE_CLIENT_ID
    valueFrom:
      secretKeyRef:
        name: dex-google-secret
        key: GOOGLE_CLIENT_ID
  - name: GOOGLE_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: dex-google-secret
        key: GOOGLE_CLIENT_SECRET
  - name: GOOGLE_SERVICE_ACCOUNT
    value: /secret/service-account.json

  - name: DEX_CLIENT_BACCHUS_BARTENDER
    valueFrom:
      secretKeyRef:
        name: dex-client-secrets
        key: bacchus-bartender
  - name: DEX_CLIENT_BACCHUS_VAULT
    valueFrom:
      secretKeyRef:
        name: dex-client-secrets
        key: bacchus-vault
  - name: DEX_CLIENT_BACCHUS_ARGOCD
    valueFrom:
      secretKeyRef:
        name: dex-client-secrets
        key: bacchus-argocd
  - name: DEX_CLIENT_BACCHUS_GRAFANA
    valueFrom:
      secretKeyRef:
        name: dex-client-secrets
        key: bacchus-grafana
  - name: DEX_CLIENT_BACCHUS_VPN
    valueFrom:
      secretKeyRef:
        name: dex-client-secrets
        key: bacchus-vpn

volumes:
  - name: dex-google-secret
    secret:
      secretName: dex-google-secret
      items:
        - key: GOOGLE_SERVICE_ACCOUNT
          path: service-account.json

volumeMounts:
  - name: dex-google-secret
    mountPath: /secret

podSecurityContext:
  fsGroup: 1337

config:
  issuer: https://auth.bacchus.io/dex
  storage:
    type: kubernetes
    config:
      inCluster: true

  staticClients:
    - name: Waiter
      id: bacchus-waiter
      public: true
    - name: Bartender
      id: bacchus-bartender
      redirectURIs:
        - https://fizz.snucse.org:8006
        - https://gin.snucse.org:8006
        - https://ramos.snucse.org:8006
      secretEnv: DEX_CLIENT_BACCHUS_BARTENDER
    - name: Vault
      id: bacchus-vault
      redirectURIs:
        - https://vault.bacchus.io/ui/vault/auth/oidc/oidc/callback
        - http://localhost:8250/oidc/callback
      secretEnv: DEX_CLIENT_BACCHUS_VAULT
    - name: ArgoCD
      id: bacchus-argocd
      redirectURIs:
        - https://argocd.bacchus.io/auth/callback
      secretEnv: DEX_CLIENT_BACCHUS_ARGOCD
    - name: Grafana
      id: bacchus-grafana
      redirectURIs:
        - https://dashboard.bacchus.io/login/generic_oauth
      secretEnv: DEX_CLIENT_BACCHUS_GRAFANA
    - name: VPN Manager
      id: bacchus-vpn
      redirectURIs:
        - https://vpn.bacchus.io/oidc/callback
      secretEnv: DEX_CLIENT_BACCHUS_VPN

  connectors:
    - name: Google
      id: google
      type: google
      config:
        issuer: https://accounts.google.com
        clientID: $GOOGLE_CLIENT_ID
        clientSecret: $GOOGLE_CLIENT_SECRET
        redirectURI: https://auth.bacchus.io/dex/callback
        hostedDomains:
          - bacchus.snucse.org
        serviceAccountFilePath: $GOOGLE_SERVICE_ACCOUNT
        adminEmail: admin@snucse.org
